@import url(https://fonts.googleapis.com/css?family=Raleway:100,400,700);

/* selector universal */
*{
	box-sizing: border-box;
	/* descuenta del width y height, lo sumado en padding y border */
}

body{
	font-family: 'Raleway', sans-serif;
	margin: 0;
	/*
		margin-top: ;
		margin-right: ;
		margin-bottom: ;
		margin-left: ;
	*/
}

img{
	max-width: 100%
}
/* Resets */

/* agrupación de selectores */
ul, ol{
	list-style: none; /* elimina la viñeta */
	margin: 0;
	padding: 0;
	/*
		padding-top: ;
		padding-right: ;
		padding-bottom: ;
		padding-left: ;
	*/
}

figure{
	margin: 0;
}

/*
	tamaños
		ancho - width:;
		alto - height:;

	modelo de caja - box model
		- width
		- height
		- padding
		- border
			border-style [solid | dashed | dotted | double]
			border-width
			border-color
			border: ;
		- margin
*/

.main-header{
	max-width: 1280px;
	margin: auto;
	padding: 20px 0;
}
img.hostro_logo{
	width: 70%;
}

.logo{
	float: left;
	margin-left: 8%;
	padding-top: 10px;

}

.logo figcaption{
	display: none;
}
a.home_button{
	/*background-color: tomato;*/
	font-weight: 200;
}

.main-nav{
	float: right;
	margin-right: 120px;
}

/* selector descendiente */
.main-nav li{
	float: left;
	margin: 5px 0 0 15px;
	padding-top: 10px;
}

.main-nav a{
	text-decoration: none;
	color: #222;
	text-transform: uppercase;
	font-size: 10px;
}

.cleaner{
	clear: both;
}

#banner{
	background: url(../images/indexbanner-bg3.jpg) center top no-repeat;
	background-size: cover;
	height: 340px;
}

.container{
	max-width: 1280px;
	margin: auto auto;
	

}

.banner-title{
	font-size: 32px;
	color: #fff;
	padding-top: 130px;
	margin-left: 10%;
}

.banner-text{
	font-size: 12px;
	color: rgba(255,255,255,0.5);
	margin-top: -2%;
	margin-left: 10%;
	line-height: 25px;
}

.register{
	background-color: #06B4F2;
	height: 70px;
	position: relative;
	margin-top: 44px;
	margin-right: 10%;
	margin-left: 8%;
	transform: translateY(50%);
}

.register input{
	width: 83%;
	height: 70px;
	font-size: 13px;
	padding: 0 15px;
	font-family: inherit;
	
}

.register button{
	border: none;
	background-color: #06B4F2;
	width: 16%;
	height: 70px;
	color: #fff;
	font-family: inherit;
	font-size: 16px;
	text-transform: uppercase;
}

img.servers, img.services, img.live_support, img.domain{
	width:75px;
}
.producto{
	/*border: dashed green 1px;*/
	width: 20%;
	font-size: 10px;
	text-align: center;
	float: left;
	margin-left: 2%;
	margin-right: 1%;
	margin-top: 15%;
	/*padding: 0 15px;*/
	
}
.producto:first-of-type{
	margin-left: 5%;
}
.producto h4{
	text-transform: uppercase;
}

.title-services{
	text-align: center;
	margin-top: 100px;
	font-size: 28px;
	margin-bottom: 0;
}

.title-services + p{
	text-align: center;
	margin: 15 0 100px;
	font-size: 10px;
}
img.retina, img.easy, img.pixel, img.unlimited, img.features, img.support{
	width: 35px;
}

.left-services{
	/*background-color: green;*/
	width: 30%;
	float: left;
	padding-top: 40px;
	margin-left: 5%;
}

.left-services li{
	/*border: dotted white;*/
	position: relative;
	text-align: right;
	padding-right: 60px;
	padding-bottom: 40px;
	padding-left: 5%;
	margin-bottom: 25px;
	font-size: 12px;
	line-height: 15px;
}

.left-services img{
	/*background-color: pink;*/
	position: absolute;
	right: 0;
	top: 0;
}
.left-services ul li h3{
	text-transform: uppercase;
	transform: translateY(62%);
}
.left-services p{
	font-size: 10px;
}
.right-services ul li h3{
	text-transform: uppercase;
	transform: translateY(62%);
}

.right-services li{
	position: relative;
	padding-left: 60px;
	text-align: left;
	padding-bottom: 40px;
	padding-right: 5%;
	margin-bottom: 25px;
	font-size: 12px;
	line-height: 15px;
}
.right-services p{
	font-size: 10px;
}	
.right-services img{
	position: absolute;
	left: 0;
	top: 0;
}
.right-services{
	/*background-color: yellow;*/
	width: 30%;
	float: left;
	padding-top: 40px;
	margin-right: ;
}

img.iphone{
	/*background-color: black;*/
	width: 100%;
	position: static;
	padding-left: 30px;
	padding-right: 30px;/*chequear mas tarde*/
}
.cellphone{
	width: 30%;
	text-align: center;
	float: left;
}

.pricing-table{
	background: url(../images/pricing-bg.jpg) center top no-repeat;
	background-size: contain;
	margin-top: -62px;
}

.pricing-table h3{
	/*border:dashed steelblue 1px;*/
	text-align: center;
	margin: 0;
	padding: 40px 0 0;
	font-size: 30px;
}

.pricing-table h3 + p{
	/*border: solid red 1px;*/
	text-align: center;
	font-size: 12px;
}

.price-table{
	/*border: black solid 2px;*/
	background-color: #fff;
	box-shadow:
		0 0 10px rgba(0,0,0,0.5)
		/*-5px -5px 10px rgba(0,0,0,0.5) inset,
		-5px -5px 10px red,
		-10px -10px 10px green,
		-15px -15px 10px orange*/
		;
	width: 20%;
	padding: 20px;
	float: left;
	margin-top: 40px;
	margin-right: 2%;
	border-radius: 3px;
	text-align: center;
}

.price-table h4{
	text-transform: uppercase;
	font-size: 12px;
}

.price-table h2{
	font-size: 30px;
	margin: 0;
}

.price-table h2 sup{
	font-size: 23px;
	position: relative;
	top: 5px;
}

.price-table p{
	/*background-color: red;*/
	font-size: 15px;
	margin: 0 0 30px;
}

.price-table table{
	/*border: dotted purple;*/
	width: 100%;
	font-size: 10px;
}

.price-table td{
	/*border: double green 10px;*/
	padding: 5px;
}

.price-table a{
	display: block;
	background-color: #26ABF6;
	color: #fff;
	border-radius: 5px;
	margin-top: 10px;
	text-decoration: none;
	padding: 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 10px;
}
.price-table:first-of-type{
	margin-left: 6%;
}

.price-table:last-of-type{
	margin-right: 0;
}

/*.no-margin{
	margin: 0;
}*/

/* pseudo selectores

	selector:pseudo-selector{
		mi regla
	}

	:last-child

*/


.main-footer{
	background-color: #233042;
	margin-top: 80px;
}

.main-footer h3{
	text-align: center;
	font-size: 20px;
	color: #fff;
	margin: 0;
	padding: 60px 0;
	font-weight: 400;
	/*text-shadow:
		3px 3px 5px black,
		6px 6px 5px red,
		9px 9px 5px green,
		12px 12px 5px violet;*/
}

.main-footer h3 span{
	color: #26ABF6;
	font-weight: 700;
	font-size: 30px;
}

.bg-dark{
	background-color: #151D27;
	padding: 30px 0;
}

.copyright{
	/*border: white solid 2px;*/
	float: left;
	/*margin: 10px 0 0;*/
	margin-left: 8%;
	color: #fff;
	font-weight: 100;
}

.footer-nav{
	float: right;
	margin-top: 10px;
	margin-right: 8%;
}

.footer-nav li{
	/*border-color: dashed white 10px;*/
	display: inline-block;
	margin-left: 30px;
}

.footer-nav a{
	color: #fff;
	text-decoration: none;
	font-weight: 100;
}


/*Arranca Contact Page*/
#contact_banner{
	background: url(../images/indexbanner-bg2.jpg) center top no-repeat;
	background-size: cover;
	height: 300px;
}
.contact_banner_title{
	font-size: 30px;
	color: #fff;
	padding-top: 120px;
	margin-left: 10%;
}
.contact_banner_text{
	color: rgba(255,255,255,0.5);
	margin-left: 10%;
	font-size: 11px;
	line-height: 25px;
}
.contact_text{
	/*background-color: yellow;*/
	text-align: center;
	padding-top: 5%;
}

.contact_register{
	width: 100%;
	/*background-color: red;*/
	margin: auto auto;
	
}
.contact_register_left, .contact_register_right{
	margin-top: 30px;
	float: 	left;	
	width: 	50%;
}	
.contact_register_left input{
	/*background-color: green;*/
	width: 80%;
	float: right;
	line-height: 25px;
	font-family: inherit;
	padding-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.contact_register_right textarea{
	/*background-color: lightblue;*/
	width: 80%;
	height: 105px;
	padding-top: 5px;
	padding-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	font-family: inherit;
	font-size: 14px;
}
.button_formulario{
	width: 100%;
	/*background-color: green;*/
	text-align: center;
	margin-top: 10px;
}
.button_submit{
	text-align: center;
	background-color: #06B4F2;
	border: none;
	width: 12%;
	height: 40px;
	color: white;
	font-family: inherit;
	font-size: 10px;
	text-transform: uppercase;
}


/*responsive HOME PAGE MEDIUM*/

@media(max-width: 600px){
	.producto{
	border: dashed green 1px;
	width: 40%;
	font-size: 10px;
	text-align: center;
	float: left;
	position: relative;
	margin-left: 2%;
	margin-right: 1%;
	margin-top: 15%;
	/*padding: 0 15px;*/
	
	}
	.producto:first-of-type{
	margin-left: 2%;
	}
	.price-table{
	border: dashed green 1px;
	width: 40%;
	font-size: 10px;
	text-align: center;
	float: left;
	position: relative;
	margin-left: 2%;
	margin-right: 1%;
	margin-top: 15%;
	}
	.footer-nav{
	border:dashed red;
	float: none;
	text-align: center;
	margin-right: 0;
	}

	.footer-nav li{
	/*border-color: dashed white 10px;*/
	display: inline-block;
	margin: 20px;
	text-align: center;
	}
	.footer-nav a{
	border: dashed white;
	color: #fff;
	text-decoration: none;
	font-weight: 100;
	}
	.copyright{
	border: white solid 2px;
	float: none;
	/*margin: 10px 0 0;*/
	margin-left: 0;
	color: #fff;
	font-weight: 100;
	text-align: center;
}

/*responsive HOME PAGE SMALL*/
@media(max-width: 532px){
	.container, .main-header{
		width: 95%;
	}
	#banner{
		background-image: none;
		position: relative;
		/*background-color: grey;
		border: yellow solid 3px;*/
	}
	.banner-title, .banner-text{
		display: none;
	}
	.logo{
		/*background-color: green;*/

	}
	.main-header{
		/*background-color: yellow;*/
		width: 33%;
		margin:auto auto;
		float:none;
	}
	.main-nav li a{
		/*background-color: red;*/
		margin: auto auto;
		width: 20%;
		float: none;
		text-align: center;
	}
	.register button{
		font-size: 10px;
	}
	.producto{
		/*border: dashed green 1px;*/
		width: 40%;
		font-size: 10px;
		text-align: center;
		float: left;
		position: relative;
		margin-left: 2%;
		margin-right: 1%;
		margin-top: 20px;
		/*padding: 0 15px;*/
	}
	.title-services{
		text-align: center;
		margin-top: 50px;
		font-size: 24px;
		margin-bottom: 0;
	}

	.title-services + p{
		text-align: center;
		margin: 15 0 20px;
		font-size: 8px;
}
	.left-services, .right-services{
		/*background-color: green;*/
		width: 80%;
		float: left;
		padding-top: 40px;
		margin-left: 0%;
	}

	.left-services li, .right-services li{
		/*border: dotted white;*/
		position: relative;
		text-align: left;
		padding-right: 0;
		padding-bottom: 10px;
		padding-left: 10%;
		margin-bottom: 10px;
		font-size: 10px;
		line-height: 12px;
	}

	.left-services img, .right-services img{
		width: 8%;
		/*background-color: pink;*/
		position: absolute;
		float: left;
		left: 0;
		top: 0;
		transform: translateY(25%);
	}
	.cellphone{
		width: 50%;
		text-align: center;
		float: none;
		margin: auto auto;
	}
}

/*responsive HOME PAGE EXTRA-SMALL*/
@media(max-width: 432px){
	.container, .main-header{
		width: 95%;
	}
	.logo{
		/*background-color: green;*/

	}
	.main-header{
		/*background-color: yellow;*/
		width: 33%;
		margin:auto auto;
		float:none;
	}
	.main-nav li a{
		margin: auto auto;
	}
	.register input{
		/*background-color: red;*/
		margin: auto auto;
		width: 80%;
		float: none;
		text-align: 0;
		font-size: 8px;
		padding-bottom: 0; 
	}
	.register button{
		font-size: 10px;
	}	
	.producto{
		/*border: dashed green 1px;*/
		width: 50%;
		font-size: 10px;
		text-align: center;
		float: none;
		position: relative;
		margin: auto auto;
		margin-top: 10px;
		/*padding: 0 15px;*/
	}
	.producto:first-of-type{
		margin: auto auto;
	}
}	

/* Responsive CONTACT PAGE MEDIUM*/
@media(max-width: 650px){
	.main-header{
		width: 95%;
	}
	.logo img{
		/*border: solid black 1px;*/
		margin-left: 2%;
		padding-left: 2%;
	}
	#contact_banner{
		background: url(../images/indexbanner-bg2.jpg) center top no-repeat;
		background-size: cover;
		height: 300px;
	}
	.contact_banner_title{
		font-size: 30px;
		color: #fff;
		padding-top: 120px;
		margin-left: 2%;
	}
	.contact_banner_text{
		color: rgba(255,255,255,0.5);
		margin-left: 2%;
		font-size: 11px;
		line-height: 25px;
	}
	.contact_text h3{
		font-size: 16px;
	}
	.contact_text p{
		font-size: 12px;
	}
	.main-footer h3{
		font-size: 16px;
	}
}

/* Responsive CONTACT PAGE SMALL & EXTRA-SMALL*/

@media(max-width: 550px){
	.main-header{
		width: 20%;
		/*background-color: red;*/
		margin-left: 38%;
		float: none;
	}
	.logo img{
		margin: auto auto;
		width: 90%;
		float: none;
		text-align: center;
	}
	.main-nav{s
		width: 10%;
		text-align: center;
		margin: auto auto;
	}	
	.main-nav li a{
		font-size: 8px;
		text-align: center;
	}
	#contact_banner, .contact_banner_title, .contact_banner_text{
		background-image: none;
		display: none;
	}
	.contact_register_left{
		width: 100%;
		margin-left: -8%;
		margin-right: 10%;
		float: left;
	}
	.contact_register_right{
		width: 100%;
		margin-left: 10%;
		margin-right: 10%;
	}
	.contact_registar_left input{
		float: left;
		margin:0;
	}
	.button_submit{
		width: 25%;
	}
	.main-footer h3{
		font-size: 20px;
	}
}	

/* Responsive CONTACT PAGE EXTRA-SMALL*/

@media(max-width: 450px){

}



